{% extends 'base.html' %}

{% block content%}

<head>
<style>
h1 {text-align: center;}
</style>
</head>
<h1>Forum Post</h1>
<div class="shadow p-3 mb-5 bg-white rounded">
  <a href="{% url 'add_post'  %}" > <button type="button" class="btn btn-primary"> Add Post</button></a>
<ul>
{% for post in object_list %}
<div class="d-flex flex-column bd-highlight mb-3">
  <div class="p-2 bd-highlight">
     <li><a href="{% url 'article_detail' post.pk %}">{{post.title}}</a> -{{post.title_tag}} {{post.author.first_name}}  {{post.author.last_name}} -- {{post.post_date}}<br>
   [{{post.author.email}} ]

<small>
  {% if user.is_authenticated and post.author.id == user.id %}
<a href="{% url 'update_view' post.pk %}">Edit</a>

<a href="{% url 'delete_view' post.pk %}">Delete</a>

{% endif %}
</small><br>

<p class="text-lg-left">  {{post.body| slice:":200"|safe}}</p>
</li>
</div>
{% endfor %}

</ul>
</div>

{% endblock %}